.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
button {
  cursor: pointer;
}
.logo {
  color: #2e2f42;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 21px;
  letter-spacing: 0.54px;
  word-wrap: break-word;
}
.logo-name {
  color: #4d5ae5;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 21px;
  letter-spacing: 0.54px;
  word-wrap: break-word;
}
.menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  word-wrap: break-word;
}

.address-info {
  color: #434455;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.head-1 {
  color: white;
  font-size: 56px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
}
.button {
  color: white;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}
.advan-name {
  color: #2e2f42;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.advan-descrp {
  color: #434455;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.section-name {
  color: #2e2f42;
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 40px;
  letter-spacing: 0.72px;
}

.team-member-name {
  color: #2e2f42;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.member-job {
  color: #434455;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.project-name {
  color: #2e2f42;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.project-type {
  color: #434455;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.footer-logo {
  color: #2e2f42;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 21px;
  letter-spacing: 0.54px;
}
.footer-logo-name {
  color: #4d5ae5;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 21px;
  letter-spacing: 0.54px;
}
.footer-descr {
  color: #f4f4fd;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
